body, select{
    font-family: Arial, Helvetica, "Liberation Sans", "Noto Sans", sans-serif;
    text-align: center;
    background-color: #EFE;
}
ul.mainlist{
    display: inline-block;
    padding-left: 0;
}
.mainlist li{
    display: inline-block;
    margin: 0.25em;
}
.mainlist li a{
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    max-width: 150px;
    vertical-align: top;
    text-decoration: none;
}
a img{
    border: none;
}
.alert{
    color: white;
    background-color: #A00;
    border-radius: 1em;
    padding: 0.5em;
    display: inline-block;
}
pre{
    text-align: left;
}

/* What's available now? page */
.nowtable{
    border: 2px solid #A00;
    background-color: #A00;
    border-radius: 1em;
    margin: auto;
}
.nowtable td{
    background-color: white;
}
.nowtable th{
    vertical-align: bottom;
    color: white;
}
.nowtable td{
    padding: 0 3px;
}
.nownew td{
    background-color: #BFB;
}
.nowleaving td{
    background-color: #FFB;
}
.nowpic{ /* Image of critter */
    width: 64px;
    height: 64px;
}
.nowicon{ /* New/leaving icon */
    position: absolute;
    left: -18px;
    top: -8px;
    width: 32px;
    height: 32px;
}
.price_col{ /* Price column, hidden by default */
    display: none;
}
td.price_col{ 
    text-align: right;
}


.critterlist{
    display: inline-block;
    vertical-align: top;
    border: 2px solid #A00;
    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.25em;
    text-align: center;
    text-decoration: none;
}
.cdata{ /* Data about critters */
    text-align: left;
}

/* Thank-you list */
.thankyou{
    text-align: left;
}